<?php
//Copy this file to config.inc.php and make changes to that file to customize your configuration.

$config = array(
  'servers' => array(
    array(
      'name' => 'redis-cloud-server1', // Optional name.
      'host' => '192.168.32.19',
      'port' => 6379,
      'filter' => '*',
      'auth' => 'zxsoft' // Warning: The password is sent in plain-text to the Redis server.
    ),

    array(
      'name' => 'redis-cloud-server2',
      'host' => '192.168.32.20',
      'port' => 6379,
      'filter' => '*',
      'auth' => 'zxsoft',
    ),

    /*array(
      'name' => 'local db 2',
      'host' => 'localhost',
      'port' => 6379,
      'db'   => 1 // Optional database number, see http://redis.io/commands/select
      'filter' => 'something:*' // Show only parts of database for speed or security reasons
      'seperator' => '/', // Use a different seperator on this database
      'flush' => false, // Set to true to enable the flushdb button for this instance.
      'encoding' => 'cp1251', // Set for view values in other encoding
    )*/
  ),


  'seperator' => ':',


  // Uncomment to show less information and make phpRedisAdmin fire less commands to the Redis server. Recommended for a really busy Redis server.
  'faster' => true,


  // Uncomment to enable HTTP authentication
  'login' => array(
    // Username => Password
    // Multiple combinations can be used
    'admin' => array(
      'password' => 'zxsoft',
    ),
    'guest' => array(
      'password' => 'zxsoft',
      'servers'  => array(1) // Optional list of servers this user can access.
    )
  ),


  // You can ignore settings below this point.

  'maxkeylen'           => 100,
  'count_elements_page' => 100
);

?>
